MANIFEST

# ignore apps for now
apps/*

# gedit plugin schemas (for layout in plugin)
extensions/gedit3-plugin/gschemas.compiled

# ignore .orig files (leftovers from merges)
*.orig

# ignore build and dist output
build/*
dist/*
shoebot.egg-info/
debian/files
.eggs/

# as well as sphinx output
doc/build/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# backup files
*.bak
*~
*.swp
.pc

# sphinx extension build files
doc/extension/build/
doc/extension/dist/
doc/extension/sphinxcontrib_shoebot.egg-info/
.eggs

# Test run output.
tests/unittest/output/*actual*
