MANIFEST

# ignore apps for now
apps/*

# ignore .orig files (leftovers from merges)
*.orig

# ignore build and dist output
build/*
dist/*
# as well as sphinx output
doc/build/*

# python bytecode files
*.pyc
*.pyo
# backup files
*.bak
*~
*.swp

# sphinx extension build files
extensions/sphinx-doc/build/
extensions/sphinx-doc/dist/
extensions/sphinx-doc/sphinxcontrib_shoebot.egg-info/

