language: python
addons:
  apt:
    # Apart from black, these package lists must match those in install/install_dependencies.sh for CI to pass.
    packages:
      - black
      - build-essential
      - gir1.2-gtk-3.0
      - gir1.2-rsvg-2.0
      - gobject-introspection
      - libgirepository1.0-dev
      - libglib2.0-dev
      - libgtksourceview-3.0-dev
      - libjpeg-dev
      - libpango1.0-dev
      - python3-dev
      - python3-gi
      - python3-gi-cairo
      - python3-wrapt
  homebrew:
    packages:
      - cairo
      - gobject-introspection
      - gtk+3
      - gtksourceview3
      - jpeg
      - libffi
      - librsvg
      - py3cairo
      - pygobject3
services:
  - xvfb
matrix:
  include:
    - os: linux
      sudo: required
      dist: bionic
      python: 3.7
      env:
        - PYTHON="python3"
        - CI_PACKAGES="xvfb python3-setuptools python3-pep8"
    - os: osx
      osx_image: xcode11.3
      language: generic
      sudo: required
      env:
        - PYTHON="$(brew --prefix)/opt/python@3.8/bin/python3.8"
        - PKG_CONFIG_PATH="${PKG_CONFIG_PATH}:/usr/local/opt/libffi/lib/pkgconfig"
      before_install:
        - TRAVIS_PYTHON_VERSION=3.8
install:
  - if [ "$PYTHON" == "pypy" ]; then sudo add-apt-repository -y ppa:pypy/ppa; apt-get update -y; fi
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then sudo apt-get install --no-install-recommends -y python3-pip ${CI_PACKAGES}; fi
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then ${PYTHON} -m ensurepip; pip install wrapt; fi
  - $PYTHON -mpip freeze
  - $PYTHON -mpip install .
  - $PYTHON -mpip freeze

script:
  - $PYTHON black --check
  - $PYTHON setup.py diagnose
  - $PYTHON setup.py test
