include README.md
include AUTHORS
include VERSION
include COPYING-GPL-3
recursive-include shoebot/data *
recursive-include shoebot/core *
recursive-include shoebot/gui *
recursive-include shoebot/util *
recursive-include examples *
recursive-include lib *
prune shoebot/lib/sbopencv
prune shoebot/lib/sbopencv/blobs
prune lib/sbopencv
prune lib/sbopencv/blobs
prune shoebot/lib/colors/aggregated
prune lib/colors/aggregated
prune lib/supershape
prune shoebot/lib/supershape
recursive-include assets *
recursive-include locale *
