# Shoebot
#
# pygtk, pycairo and rsvg - do not play well with virtualenv.
#
# Install them into the system python, then use 
# setup_virtualenv.sh to link them from the virtualenv.
#
# Alternately use --system-site-packages when creating your 
# virtualenv.
#
# e.g.  
#     virtualenv --system-site-packages shoebot-env
#
# or with virtualenvwrapper:
#     mkvirtualenv --system-site-packages shoebot-env


vext.pygtk
setuptools>=7.0.0
Pillow==2.8.1
numpy==1.9.1
meta==0.4.1
