# pygtk, pycairo and rsvg 
# are hard to install in virtualenv, so install these to the system python
# then create your virtualenv with --system-site-packages.
#
# e.g. 
#      virtualenv -system-site-packages env
# or in virtualenvwrapper
#      mkvirtualenv --system-site-packages shoebot
#
#

Pillow==2.4.0
numpy==1.6.2
