# requirements file for readthedocs

cairocffi
sphinx
./sphinxcontrib_shoebot

#-e git+https://github.com/shoebot/shoebot.git
#-e git+https://git.repo/some_repo.git#egg=sphinx_shoebot&subdirectory=doc/extension
