# requirements file for readthedocs

cairocffi
sphinx
# ./sphinxcontrib_shoebot

-e git+https://github.com/shoebot/shoebot.git@readthedocs#egg=sphinxcontrib_shoebot&subdirectory=doc/sphinxcontrib_shoebot

#-e git+https://github.com/shoebot/shoebot.git#egg=sphinx_shoebot&subdirectory=doc/extension
