Source: shoebot
Section: graphics
Priority: optional
Maintainer: Ricardo Lafuente <r@sollec.org>
Build-Depends: debhelper (>=7.0.0), python-support (>= 0.6), cdbs (>= 0.4.49), python-all-dev
Standards-Version: 3.8.3

Package: shoebot
Architecture: all
Homepage: http://shoebot.net
Depends: ${python:Depends}, ${misc:Depends}, python-cairo, python-gtk2, python-gobject, python-gtksourceview2
Description: vector graphics scripting made easy with Python
 Shoebot is a pure Python graphics robot: It takes a Python script as input,
 which describes a drawing process, and outputs a graphic in a common open
 standard format (SVG, PDF, PostScript, or PNG). It has a simple text editor 
 GUI, and scripts can describe their own GUIs for controlling variables 
 interactively. Being pure Python, it can also be used as a Python module, 
 a plugin for Python-scriptable tools such as Inkscape, and run from the 
 command line.

