Source: shoebot
Section: graphics
Priority: optional
Maintainer: Ricardo Lafuente <r@manufacturaindependente.org>
Build-Depends: debhelper (>=7.0.0), dh-python (>= 3.0), cdbs (>= 0.4.49), python3-dev
Standards-Version: 3.8.3

Package: shoebot
Architecture: all
Homepage: https://shoebot.net
Depends: ${python:Depends}, ${misc:Depends}, python-cairo, python-gtk2, python-gobject, python-gtksourceview2
Description: vector graphics scripting made easy with Python
 Shoebot is a Python graphics robot: It takes a Python script as input,
 which describes a drawing process, and outputs a graphic in a common open
 standard format (SVG, PDF, PostScript, or PNG). It has a simple text editor
 GUI, and scripts can describe their own GUIs for controlling variables
 interactively.
