[Desktop Entry]
Name=Shoebot
Comment=GUI Editor for Shoebot
TryExec=shoebot-ide
Exec=shoebot-ide
Icon=shoebot-ide
Terminal=false
Type=Application
Categories=Development;
